.App {
    margin: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#666666;
  }
  
  .PropertyDef .ant-checkbox-group .ant-checkbox-group-item{
    display: block;
   
  }

  .PropertyDef .ant-checkbox-group{
    margin-left: 40px;
  }

  .PropertyDef{
    margin: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(231, 230, 230);
    padding: 20px;
    margin-top: 40px;
    
  }
  .PropertyDefLayout{
    padding: 20px 20px 20px 0;
    border: 1px solid rgb(231, 230, 230);

  }
  .AnalysisClass{
    padding: 20px 20px 20px 0;    
  }

    .DefineGroup{
    margin-left: 30px;
    width:100%;
  }

  div.ButtonPanel{
    margin: 40px;
    
  }

  div.ButtonPrevious{
    float: left;
  }
  div.ButtonNext{
    float: right;
    padding-right: 10px;
  }

  div.ButtonSave{
    float: right;
    padding-right: 10px;
  }

  div.ButtonCancel{
    float: right;
    padding-right: 10px;
  }

  div.DefineGroupsDiv{
    width:100%;
    margin:30px;
  }

  div.DefineGroupLayout{
    width:55%;
  }

  div.DefineGroupPlot{
    width:40%;
  }

  tr.DefineGroupOuterRow{
    width:100%;
  }

  td.DefineGroupOuterCol1{
    vertical-align: top;
  }

  td.DefineGroupOuterCol2{
    width:100%;
    vertical-align: top;
  }

  div.steps-content{
    overflow: auto;
  }

  section.DRLayout{
    background: none;
  }


.InputAttribute{
  width: 100%;
  color : rgba(0, 0, 0, 0.75) !important;
}



  .DropContainer {
    text-align: center;
  }
  .DropContainerButton{
    text-align: left;
  }
  
  .DropContainer-header {
    /*background-color: #282c34;*/
    min-height: 90%;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    /*font-size: calc(1px + 2vmin);*/
    /*color: white;*/
  }
  .DefineDropContainer-header {
    /*background-color: #282c34;*/
    min-height: 90%;
    display: flex;
    padding-bottom: 10px;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    /*font-size: calc(1px + 2vmin);*/
    /*color: white;*/
  }
  .drag-n-drop {
    padding: .5rem;
    display: grid;
    gap: .5rem;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fill, 300px);
    align-items: start;
  }
  .dnd-group {

    border-radius: 5px;
    padding: 1px;
    min-height: 90px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    max-height: 200px;
    overflow: auto;
    margin-top: -6px;
  }
  .UnAssignedGroupDiv{
    margin-top: 6px;
  }
  .dnd-group-unAssigned{
    border-radius: 5px;
    padding: 1px;
    min-height: 90px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
  .dnd-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 150px;*/
    background-color: white;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.3);
   }
  .dnd-item:not(:last-of-type) {
    margin-bottom: 5px;
  }
  .dnd-item * {  
    margin: 0;
    font-size: 12px;
  }
  .group-title {
    text-align: left;
    margin-bottom: .5rem;
    font-size: 12px;
    font-weight: bold;
  }
  .current {
    background-color: #F5F5F5;;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  div.GroupLabel{
    justify-content: center;
    font-size: 13px;
    font-weight:bold;
  }

  div.GroupLabel .ant-col input{
    font-size: 13px;
  }

.PlotCurve{
  width: 50%;
  height: 80%;
}
.CardTitle{
  font-weight: bold;
}
.Available{
 background-color: green;
}
.NotAvailable{
  background-color: red;
}


.Grid {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

.Grid td, .Grid th {
  border: 1px solid #ddd;
  padding: 8px;
}

.Grid tr:nth-child(even){background-color: #F7F7F7;}

.Grid tr:nth-child(odd){background-color: #FFF;}

.Grid th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #CCCCCC;
  color: #666666;
}

.Grid td.MatData {
  padding: 12px;
  text-align: left;
  color: #666666;
  white-space: nowrap;
}
span.EmptyPropDef{
  text-decoration: line-through;
}

div.criteriaDiv .ant-checkbox-group-item{
  display: block;
  margin-right: 0px;
}

.dnd-item.DNDSelect{
  background-color: #666666;
}

.AnalysisResultLabel{
  font-weight: bold;
}

td.LeftColumn{
   width: 40%;
   vertical-align: top;
   margin: 30px;
}

td.RightColumn{
  width: 60%;
  vertical-align: top;
  margin: 30px;
}
tr.DefineRow{
  width: 100%;
}
div.PlotCurveDiv{
  top: 30px;
}

table.DefineTable{
  margin: 40px;
}

table.DefineGroupOuterTable{
  width:100%;
}

div.DRContainerDiv{
  margin-top: 20px;
}